<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="hingobway" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="./styles/fonts.css" />

    <link rel="stylesheet" href="./styles/all.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <div id="app" class="container">
      <div class="bpoint">
        <main>
          <div id="horiz" class="control">
            <div class="top-bar">
              <div class="label">HORIZONTAL</div>
              <select v-model="deviceH" id="source-h" class="horiz">
                <option value="">Select a device</option>
                <option v-for="(source, ind) in sources" :value="source.id">
                  {{ ind + 1 }}&nbsp;{{ source.name }}
                </option>
              </select>
            </div>
            <div class="video">
              <div class="cont">
                <video class="cam horiz" autoplay="autoplay"></video>
              </div>
              <div class="zoom">
                <input
                  type="range"
                  min="1"
                  max="1000"
                  class="zoom"
                  v-model="zoomH"
                />
              </div>
            </div>
            <div class="nav">
              <div class="inner">
                <svg class="arrow lt" viewBox="0 0 42 40" @click="handleClick">
                  <path
                    d="M18.409,4.442a3,3,0,0,1,5.183,0L39.368,31.488A3,3,0,0,1,36.777,36H5.223a3,3,0,0,1-2.591-4.512Z"
                  />
                </svg>
                <svg class="arrow rt" viewBox="0 0 42 40" @click="handleClick">
                  <path
                    d="M18.409,4.442a3,3,0,0,1,5.183,0L39.368,31.488A3,3,0,0,1,36.777,36H5.223a3,3,0,0,1-2.591-4.512Z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div id="vert" class="control">
            <div class="top-bar">
              <div class="label">VERTICAL</div>
              <select v-model="deviceV" id="source-v" class="vert">
                <option value="">Select a device</option>
                <option v-for="(source, ind) in sources" :value="source.id">
                  {{ ind + 1 }}&nbsp;{{ source.name }}
                </option>
              </select>
            </div>
            <div class="video">
              <div class="cont">
                <video class="cam vert" autoplay="autoplay"></video>
              </div>
              <div class="zoom">
                <input
                  type="range"
                  min="1"
                  max="1000"
                  class="zoom"
                  v-model="zoomV"
                />
              </div>
            </div>
            <div class="nav">
              <div class="inner">
                <svg class="arrow up" viewBox="0 0 42 40" @click="handleClick">
                  <path
                    d="M18.409,4.442a3,3,0,0,1,5.183,0L39.368,31.488A3,3,0,0,1,36.777,36H5.223a3,3,0,0,1-2.591-4.512Z"
                  />
                </svg>
                <svg class="arrow dn" viewBox="0 0 42 40" @click="handleClick">
                  <path
                    d="M18.409,4.442a3,3,0,0,1,5.183,0L39.368,31.488A3,3,0,0,1,36.777,36H5.223a3,3,0,0,1-2.591-4.512Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </main>
        <footer>
          <div
            id="release"
            :class="systemOn?'click':'disabled'"
            @click="handleRelease"
          >
            <p class="click action">RELEASE</p>
          </div>
          <div id="status" :title="status.tip">
            <p>
              Status:
              <span
                :class="status.type+(status.action?' click':'')"
                @click="handleStatus"
                >{{ status.msg }}</span
              >
            </p>
          </div>
        </footer>
      </div>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
